<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="br.com.williarts.docline.background-service"
        version="0.1">

    <name>Background Service Williarts</name>

    <description>
        Plugin para execução e handler das Notificações do OneSignal
    </description>

    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <!-- Load in the core background service -->
    <dependency id="com.red_folder.phonegap.plugin.backgroundservice" url="https://github.com/icecoolinux/bgs-core.git" />

    <!-- android -->
    <platform name="android">

        <js-module src="www/doclineService.js" name="backService">
            <clobbers target="cordova.plugins.backService" />
        </js-module>

        <source-file src="src/android/DoclineService.java" target-dir="src/br/com/williarts" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="br.com.williarts.DoclineService">
                <intent-filter>
                    <action android:name="br.com.williarts.DoclineService"/>
                </intent-filter>
            </service>

        </config-file>
    </platform>
</plugin>
